## Data preprocessing

In [3]:
import pandas as pd
import numpy as np

In [8]:
# Read the CSV file and create a DataFrame
df = pd.read_csv('data/sales_train_evaluation.csv')

# Extraire uniquement les colonnes de ventes journalières (en supposant qu'elles commencent à 'd_1')
daily_sales = df.iloc[:, 6:]

# Créer un dictionnaire de DataFrames, un par produit
product_dfs = {product: data.drop(columns=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])
               for product, data in df.groupby('id')}

df.to_pickle('data/sales_train_evaluation.pkl')

In [9]:
df = pd.read_pickle('data/sales_train_evaluation.pkl')
df

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

In [10]:
# Transformer chaque DataFrame en format 1941x1 avec 'demand' comme nom de colonne
for product_id, product_df in product_dfs.items():
    product_dfs[product_id] = product_df.T.iloc[:, [0]]  # Prendre uniquement la première colonne
    product_dfs[product_id].columns = ['demand']  # Renommer correctement

In [7]:
# Afficher un exemple de DataFrame pour un produit donné
example_product = list(product_dfs.keys())[0]
print(f"Example DataFrame for {example_product}:")
product_dfs[example_product]

Example DataFrame for FOODS_1_001_CA_1_evaluation:

        demand
d_1          3
d_2          0
d_3          0
d_4          1
d_5          4
...        ...
d_1937       0
d_1938       1
d_1939       0
d_1940       0
d_1941       0

[1941 rows x 1 columns]

# Forecast Computing

Forecast computed on the average of the three lasts day sales

In [22]:
for product_id, product_df in product_dfs.items():
    # Ajouter la colonne forecast basée sur la moyenne mobile des trois jours précédents
    product_dfs[product_id]['forecast'] = np.ceil(product_dfs[product_id]['demand'].rolling(window=3).mean().shift(1))

In [23]:
# Afficher un exemple de DataFrame pour un produit donné
example_product = list(product_dfs.keys())[0]
print(f"Example DataFrame for {example_product}:")
product_dfs[example_product]

Example DataFrame for FOODS_1_001_CA_1_evaluation:

        demand  forecast
d_1          3       NaN
d_2          0       NaN
d_3          0       NaN
d_4          1       1.0
d_5          4       1.0
...        ...       ...
d_1937       0       1.0
d_1938       1       0.0
d_1939       0       1.0
d_1940       0       1.0
d_1941       0       1.0

[1941 rows x 2 columns]

# Inventory

# Up-to-level

In [ ]:
# (R, S) = (7, 3)

# Safety stock

# Sales

# Performance metrics